/*10s为加载动画的时间，1为加载动画的次数，ease-in-out为动画效果*/
#page-header,
#web_bg {
  -webkit-animation: imgblur 10s 1 ease-in-out;
  animation: imgblur 10s 1 ease-in-out;
}
@keyframes imgblur
  0% {
    filter: blur(5px);
  }
  100% {
    filter: blur(0px);
  }
}
/*适配使用-webkit内核的浏览器 */
@-webkit-keyframes imgblur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}
/* 首页文章卡片 */
/* #recent-posts > .recent-post-item{
  background:rgba(255, 255, 255, 0.9);
} */
/* 首页侧栏卡片 */
.card-widget{
  background:rgba(255, 255, 255, 0.9)!important;
}
/* 文章页面正文背景 */
div#post{
  background: rgba(255, 255, 255, 0.9);
}
/* 分页页面 */
div#page{
  background: rgba(255, 255, 255, 0.9);
}
/* 归档页面 */
div#archive{
  background: rgba(255, 255, 255, 0.9);
}
/* 标签页面 */
div#tag{
  background: rgba(255, 255, 255, 0.9);
}
/* 分类页面 */
div#category{
  background: rgba(255, 255, 255, 0.9);
}
/* 页脚透明 */
#footer{
  background: transparent!important;
}
/* 页脚黑色透明玻璃效果移除 */
#footer::before{ 
  /* background: transparent!important; */
}
/* 头图透明 */
#page-header{
  background: transparent!important;
}
/* 头图遮罩层透明 */
#page-header::before{
  background: transparent!important;
}
/*top-img黑色透明玻璃效果移除，不建议加，除非你执着于完全一图流或者背景图对比色明显 */
#page-header.post-bg:before {
  background-color: transparent!important;
}
/*夜间模式伪类遮罩层透明*/
[data-theme="dark"]
  #footer::before{
    background: transparent!important;
  }
[data-theme="dark"]
  #page-header::before{
    background: transparent!important;
  }
.announcement_content {
  color: #fff!important;
}
.card-announcement span {
  color: #fff!important;
}
.card-category-list span {
  color: #fff!important;
}
.card-archive-list span {
  color: #fff!important;
}
.text-gray {
  color: var(--recent-post-color);
}
#site-title{
  font-family: 'TaikoMagic'!important;
}



:root {
    --ark-left-border-color: #818181;
    --ark-right-border-color: #f58b49;
    --ark-container-background: rgba(50,50,50,0.8);
    --ark-container-font: #fff
}

[data-theme=dark] {
    --ark-left-border-color: #37708f;
    --ark-right-border-color: #1849a0;
    --ark-container-background: rgba(30,49,55,0.7);
    --ark-container-font: #fff
}

#page-header.post-bg {
    height: 100px
}

#content-inner .post-outdate-notice {
    display: block;
    border: 2px dotted red;
    padding: 5px 20px;
    border-radius: 5px
}

#content-inner #archive,#content-inner #category,#content-inner #page,#content-inner #post,#content-inner #tag {
    position: relative;
    background: 0 0;
    border-radius: 10px;
    padding: 15px 5px 15px 5px!important
}

#content-inner #article-container,#content-inner #post-comment,#content-inner .category-lists,#content-inner .post-copyright,#content-inner .tag-cloud-list {
    color: var(--ark-container-font);
    border-radius: 10px;
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    background: var(--ark-container-background);
    backdrop-filter: blur(5px);
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0)
}

@media screen and (min-width: 768px) {
    #content-inner #category,#content-inner #page,#content-inner #post,#content-inner #tag {
        padding:45px 15px 45px 15px!important
    }

    #content-inner #category::before,#content-inner #page::before,#content-inner #post::before,#content-inner #tag::before {
        content: "";
        z-index: -1;
        background: var(--ark-left-border-color);
        height: 100%;
        width: 60%;
        position: absolute;
        left: 0;
        top: 0;
        clip-path: polygon(calc(100% - 1px) 27px,100% 24px,calc(100% - 30px) 24px,calc(100% - 30px) 22px,calc(100% - 45px) 12px,calc(100% - 140px) 12px,calc(100% - 127px) 22px,calc(100% - 30px) 22px,calc(100% - 30px) 24px,calc(100% - 130px) 24px,calc(100% - 143px) 12px,39px 12px,0 51px,0 calc(100% - 51px),39px calc(100% - 12px),calc(100% - 143px) calc(100% - 12px),calc(100% - 130px) calc(100% - 24px),calc(100% - 1px) calc(100% - 24px),100% calc(100% - 27px),calc(100% - 30px) calc(100% - 27px),calc(100% - 30px) calc(100% - 22px),calc(100% - 45px) calc(100% - 12px),calc(100% - 140px) calc(100% - 12px),calc(100% - 127px) calc(100% - 22px),calc(100% - 30px) calc(100% - 22px),calc(100% - 30px) calc(100% - 27px),calc(100% - 132px) calc(100% - 27px),calc(100% - 145px) calc(100% - 15px),41px calc(100% - 15px),3px calc(100% - 54px),3px 54px,41px 15px,calc(100% - 145px) 15px,calc(100% - 132px) 27px)
    }

    #content-inner #category::after,#content-inner #page::after,#content-inner #post::after,#content-inner #tag::after {
        content: "";
        z-index: -1;
        background: var(--ark-right-border-color);
        height: 100%;
        width: 40%;
        position: absolute;
        right: 0;
        top: 0;
        clip-path: polygon(0 0,40px 23px,calc(100% - 39px) 23px,100% 51px,100% calc(100% - 51px),calc(100% - 39px) calc(100% - 23px),40px calc(100% - 23px),0 100%,0 calc(100% - 5px),40px calc(100% - 27px),calc(100% - 41px) calc(100% - 27px),calc(100% - 5px) calc(100% - 53px),calc(100% - 5px) 53px,calc(100% - 41px) 27px,42px 27px,0 5px)
    }

    #content-inner #article-container,#content-inner #post-comment,#content-inner .category-lists,#content-inner .post-copyright,#content-inner .tag-cloud-list {
        padding: 30px 25px;
        clip-path: polygon(20px 20px,0 40px,0 calc(100% - 20px),20px 100%,100px 100%,120px calc(100% - 20px),calc(50% - 20px) calc(100% - 20px),50% 100%,calc(100% - 20px) 100%,100% calc(100% - 20px),100% 40px,calc(100% - 20px) 19px,50% 20px,calc(50% - 20px) 0,calc(50% - 160px) 0,calc(50% - 180px) 20px)
    }

    #post #post-info {
        clip-path: polygon(20px 20px,0 40px,0 calc(100% - 20px),20px 100%,100px 100%,120px calc(100% - 20px),calc(50% - 20px) calc(100% - 20px),50% 100%,calc(100% - 20px) 100%,100% calc(100% - 20px),100% 40px,calc(100% - 20px) 20px,calc(50% + 80px) 20px,calc(50% + 60px) 0,calc(50% - 60px) 0,calc(50% - 80px) 20px)
    }
}

.tk-input .el-textarea__inner {
    height: 130px!important
}

.tk-input .el-textarea__inner:focus {
    background-image: none!important
}

.tk-comment * {
    font-size: 16px!important
}

.tk-comment .tk-main .tk-row {
    -webkit-box-pack: start;
    -moz-box-pack: start;
    -o-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start
}

.tk-comment .tk-main .tk-replies .tk-avatar {
    height: 2.5em;
    width: 2.5em;
    margin: 0 10px
}

.tk-comment .tk-main .tk-replies .tk-avatar .tk-avatar-img {
    height: 2.5em;
    width: 2.5em
}

@media screen and (max-width: 600px) {
    .tk-comment .tk-main .tk-extras {
        display:none
    }

    .tk-comment .tk-main .tk-replies {
        left: -50px
    }

    .tk-comment .tk-main .tk-content {
        position: relative;
        padding: 5px 5px 5px 10px;
        line-height: 1.2;
        width: fit-content;
        max-width: 100%;
        background: -webkit-linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-webkit-linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-webkit-repeating-linear-gradient(315deg,rgba(66,177,226,.6),transparent .2px);
        background: -moz-linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-moz-linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-moz-repeating-linear-gradient(315deg,rgba(66,177,226,.6),transparent .2px);
        background: -o-linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-o-linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-o-repeating-linear-gradient(315deg,rgba(66,177,226,.6),transparent .2px);
        background: -ms-linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-ms-linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-ms-repeating-linear-gradient(315deg,rgba(66,177,226,.6),transparent .2px);
        background: linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),repeating-linear-gradient(135deg,rgba(66,177,226,.6),transparent .2px);
        border-width: 2px 2px 7px 2px;
        border-style: solid;
        border-color: var(--ark-left-border-color);
        clip-path: polygon(0 0,calc(100% - 15px) 0,100% 15px,100% 100%,calc(100% - 80px) 100%,calc(100% - 85px) calc(100% - 5px),15px calc(100% - 5px),0 calc(100% - 20px))
    }
}

@media screen and (min-width: 600px) {
    .tk-comment .tk-main>.tk-row {
        -webkit-box-pack:start;
        -moz-box-pack: start;
        -o-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start;
        background: var(--ark-left-border-color);
        width: fit-content;
        padding: 0 80px 0 10px;
        clip-path: polygon(0 0,calc(100% - 80px) 0,calc(100% - 50px) calc(100% - 5px),calc(100% - 5px) calc(100% - 5px),100% 100%,0 100%)
    }

    .tk-comment .tk-main .tk-content {
        position: relative;
        padding: 5px 5px 5px 10px;
        width: fit-content;
        min-width: 350px;
        max-width: 100%;
        background: -webkit-linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-webkit-linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-webkit-repeating-linear-gradient(315deg,rgba(66,177,226,.6),transparent .9px);
        background: -moz-linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-moz-linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-moz-repeating-linear-gradient(315deg,rgba(66,177,226,.6),transparent .9px);
        background: -o-linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-o-linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-o-repeating-linear-gradient(315deg,rgba(66,177,226,.6),transparent .9px);
        background: -ms-linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-ms-linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-ms-repeating-linear-gradient(315deg,rgba(66,177,226,.6),transparent .9px);
        background: linear-gradient(225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),linear-gradient(45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),repeating-linear-gradient(135deg,rgba(66,177,226,.6),transparent .9px);
        margin: 0 80px 0 0;
        border-width: 2px 2px 7px 2px;
        border-style: solid;
        border-color: var(--ark-left-border-color);
        clip-path: polygon(0 0,calc(100% - 15px) 0,100% 15px,100% 100%,calc(100% - 80px) 100%,calc(100% - 85px) calc(100% - 5px),15px calc(100% - 5px),0 calc(100% - 20px))
    }

    .tk-comment.tk-master {
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        -o-box-direction: reverse;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -o-box-orient: horizontal;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-pack: start;
        -moz-box-pack: start;
        -o-box-pack: start;
        -ms-flex-pack: start;
        -webkit-justify-content: flex-start;
        justify-content: flex-start
    }

    .tk-comment.tk-master .tk-main {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        -o-box-orient: vertical;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: end;
        -moz-box-align: end;
        -o-box-align: end;
        -ms-flex-align: end;
        -webkit-align-items: flex-end;
        align-items: flex-end
    }

    .tk-comment.tk-master .tk-main>.tk-row {
        -webkit-box-pack: end;
        -moz-box-pack: end;
        -o-box-pack: end;
        -ms-flex-pack: end;
        -webkit-justify-content: flex-end;
        justify-content: flex-end;
        padding: 0 10px 0 80px!important;
        clip-path: polygon(100% 0,80px 0,50px calc(100% - 5px),5px calc(100% - 5px),0 100%,100% 100%)!important
    }

    .tk-comment.tk-master .tk-main>.tk-row .tk-meta {
        display: -webkit-box;
        display: -moz-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: box;
        display: flex;
        -webkit-box-direction: reverse;
        -moz-box-direction: reverse;
        -o-box-direction: reverse;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -o-box-orient: horizontal;
        -webkit-flex-direction: row-reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
        -webkit-box-align: center;
        -moz-box-align: center;
        -o-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -o-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between
    }

    .tk-comment.tk-master .tk-main .tk-content {
        position: relative;
        padding: 15px 30px 15px 15px;
        line-height: 1.5;
        margin: 0 0 0 80px;
        border-width: 2px 2px 7px 2px;
        border-style: solid;
        background: -webkit-linear-gradient(315deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-webkit-linear-gradient(135deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-webkit-repeating-linear-gradient(45deg,rgba(66,177,226,.6),transparent .9px);
        background: -moz-linear-gradient(315deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-moz-linear-gradient(135deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-moz-repeating-linear-gradient(45deg,rgba(66,177,226,.6),transparent .9px);
        background: -o-linear-gradient(315deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-o-linear-gradient(135deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-o-repeating-linear-gradient(45deg,rgba(66,177,226,.6),transparent .9px);
        background: -ms-linear-gradient(315deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-ms-linear-gradient(135deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),-ms-repeating-linear-gradient(45deg,rgba(66,177,226,.6),transparent .9px);
        background: linear-gradient(-225deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),linear-gradient(-45deg,var(--ark-left-border-color),var(--ark-left-border-color) 10px,transparent 10px),repeating-linear-gradient(45deg,rgba(66,177,226,.6),transparent .9px);
        clip-path: polygon(100% 0,15px 0,0 15px,0 100%,80px 100%,85px calc(100% - 5px),calc(100% - 15px) calc(100% - 5px),100% calc(100% - 20px))
    }
}


#content-inner #post .post-copyright {
    margin: 20px 0 0 0;
    font-size: 16px;
    position: relative;
    font-family: TaikoMagic;
    text-shadow: 1px 1px 3px #000
}

#content-inner #post .post-copyright .post-copyright-title {
    font-size: 22px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

#content-inner #post .post-copyright .post-copyright-title span.post-copyright-original,#content-inner #post .post-copyright .post-copyright-title span.post-copyright-transpond {
    color: #3f3f3f;
    background: #cecece;
    text-shadow: 1px 1px 3px #fff;
    padding: 3px 5px;
    margin: 0 10px 0 0;
    border-radius: 5px
}

#content-inner #post .post-copyright .post-copyright-link {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical
}

#content-inner #post .post-copyright .post-copyright-link .post-copyright-url {
    margin: 0 10px 0 0
}

#content-inner #post .post-copyright .post-copyright-license {
    overflow: hidden;
    max-width: calc(100% - 140px);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical
}

#content-inner #post .post-copyright .post-copyright-decoration {
    position: absolute;
    font-size: 140px;
    line-height: 140px;
    right: 22px;
    top: calc(50% - 65px);
    opacity: .3;
    z-index: -1;
    pointer-events: none
}

@media screen and (max-width: 768px) {
    #content-inner #post .post-copyright .post-copyright-decoration {
        display:none
    }

    #content-inner #post .post-copyright .post-copyright-license {
        max-width: 100%;
        -webkit-line-clamp: 3
    }
}

:root {
    --hr-line-color: #e91417
}

[data-theme=dark] {
    --hr-line-color: #4db7d5
}

hr {
    position: relative;
    margin: 40px auto;
    display: block;
    height: 20px;
    width: 100%;
    background: 0 0;
    border: none
}

hr:hover::before {
    clip-path: polygon(0 0,60px 100%,calc(100% - 30px) 100%,100% 50%,calc(100% - 15px) 50%,calc(100% - 35px) calc(100% - 5px),65px calc(100% - 5px),15px 0);
    -webkit-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -moz-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -o-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -ms-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    transition: all .5s cubic-bezier(.59,.01,.48,1.17)
}

hr:hover::after {
    clip-path: polygon(0 50%,35px 0,calc(100% - 60px) 0,100% 100%,calc(100% - 15px) 100%,calc(100% - 65px) 5px,35px 5px,15px 50%);
    -webkit-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -moz-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -o-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -ms-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    transition: all .5s cubic-bezier(.59,.01,.48,1.17)
}

hr::before {
    display: block;
    content: "";
    height: 20px;
    width: calc(50% + 60px);
    left: 0;
    position: absolute;
    background: -webkit-linear-gradient(right,var(--hr-line-color),transparent);
    background: -moz-linear-gradient(right,var(--hr-line-color),transparent);
    background: -o-linear-gradient(right,var(--hr-line-color),transparent);
    background: -ms-linear-gradient(right,var(--hr-line-color),transparent);
    background: linear-gradient(to left,var(--hr-line-color),transparent);
    clip-path: polygon(0 100%,60px 0,calc(100% - 30px) 0,100% 50%,calc(100% - 15px) 50%,calc(100% - 35px) 5px,65px 5px,15px 100%);
    -webkit-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -moz-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -o-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -ms-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    transition: all .5s cubic-bezier(.59,.01,.48,1.17)
}

hr::after {
    display: block;
    content: "";
    height: 20px;
    width: calc(50% + 60px);
    right: 0;
    position: absolute;
    background: -webkit-linear-gradient(left,var(--hr-line-color),transparent);
    background: -moz-linear-gradient(left,var(--hr-line-color),transparent);
    background: -o-linear-gradient(left,var(--hr-line-color),transparent);
    background: -ms-linear-gradient(left,var(--hr-line-color),transparent);
    background: linear-gradient(to right,var(--hr-line-color),transparent);
    clip-path: polygon(0 50%,35px 100%,calc(100% - 60px) 100%,100% 0,calc(100% - 15px) 0,calc(100% - 65px) calc(100% - 5px),35px calc(100% - 5px),15px 50%);
    -webkit-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -moz-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -o-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    -ms-transition: all .5s cubic-bezier(.59,.01,.48,1.17);
    transition: all .5s cubic-bezier(.59,.01,.48,1.17)
}
.article-sort-title,
.article-sort,
.article-sort-item-title,
div.timenode .meta p,
.article-sort-item-time {
  color: #fff!important;
}